<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="slider.css">
</head>
<body>
    <div class="slider-container">
        <div class="slider">
            <div class="slider-content">
                <div class="slider-content-slide active">
                    <div class="slider-content-slide-image">
                        <div class="view_sp">
                            <img src="https://cdn.pixabay.com/photo/2022/12/10/11/05/snow-7646952_960_720.jpg" alt="">
                        </div>
                        <div class="view_dsk">
                            <img src="https://cdn.pixabay.com/photo/2022/01/30/17/16/snowman-6981771_960_720.jpg" alt="">
                        </div>
                    </div>
                    <h2 class="slider-content-slide-title">
                        <div class="title_sp">
                            <img src="https://cdn.pixabay.com/photo/2022/11/27/20/42/fir-tree-7620654_960_720.jpg" alt="">
                        </div>
                        <div class="title_dsk">
                            <img src="https://cdn.pixabay.com/photo/2014/12/21/07/50/christmas-tree-574742_960_720.jpg" alt="">
                        </div>
                    </h2>
                </div>
                <div class="slider-content-slide">
                    <div class="slider-content-slide-image">
                        <div class="view_sp">
                            <img src="https://cdn.pixabay.com/photo/2022/12/02/11/46/christmas-time-7630754_960_720.jpg" alt="">
                        </div>
                        <div class="view_dsk">
                            <img src="https://cdn.pixabay.com/photo/2022/01/30/17/16/snowman-6981771_960_720.jpg" alt="">
                        </div>
                    </div>
                    <h2 class="slider-content-slide-title">
                        <div class="title_sp">
                            <img src="https://cdn.pixabay.com/photo/2022/11/27/20/42/fir-tree-7620654_960_720.jpg" alt="">
                        </div>
                        <div class="title_dsk">
                            <img src="https://cdn.pixabay.com/photo/2014/12/21/07/50/christmas-tree-574742_960_720.jpg" alt="">
                        </div>
                    </h2>
                </div>
                <div class="slider-content-slide">
                    <div class="slider-content-slide-image">
                        <div class="view_sp">
                            <img src="https://cdn.pixabay.com/photo/2022/12/03/01/15/christmas-7631914_960_720.jpg" alt="">
                        </div>
                        <div class="view_dsk">
                            <img src="https://cdn.pixabay.com/photo/2022/01/30/17/16/snowman-6981771_960_720.jpg" alt="">
                        </div>
                    </div>
                    <h2 class="slider-content-slide-title">
                        <div class="title_sp">
                            <img src="https://cdn.pixabay.com/photo/2022/11/27/20/42/fir-tree-7620654_960_720.jpg" alt="">
                        </div>
                        <div class="title_dsk">
                            <img src="https://cdn.pixabay.com/photo/2014/12/21/07/50/christmas-tree-574742_960_720.jpg" alt="">
                        </div>
                    </h2>
                </div>
            </div>
            <div class="slider-btns"></div>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>